/* clearing */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}

/* bg-color and color */
:root {
  --dodger-blue: #1e90ff;
  --midnight-blue: #000036;
  --gray: #a0a0a0;
  --white: #fff;
  --Raisin-black: #242124;
  --gray-light: #e9e9e9;
}

body {
  height: 200vh;
}

/* bar progress scroll */
.bar-scroll {
  position: fixed;
  width: 100%;
  height: 6px;
  animation: progress;
  animation-timeline: scroll();
  transform-origin: 0;
  background-color: var(--dodger-blue);
}

/* sidebar */
.side-bar {
  position: fixed;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  display: flex;
  z-index: 9999;
}

.side-bar .icons {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  gap: 31px;
  font-size: 18px;
  border-radius: 6px;
  cursor: pointer;
  background-color: var(--dodger-blue);
  color: var(--white);
}

.side-bar .icons a {
  text-decoration: none;
  color: var(--white);
}

.side-bar .icons i:hover {
  color: var(--midnight-blue);
  transition: 0.3s all ease-in-out;
}

.side-bar .text {
  visibility: hidden;
  position: absolute;
  top: 60%;
  left: -100%;
  transform: translateY(-50%);
  padding: 0.4rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  background-color: var(--dodger-blue);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out;
}

.side-bar .text ul {
  list-style: none;
}

.side-bar .text ul li {
  margin: 1.15rem 1rem;
}

.side-bar .text a {
  text-decoration: none;
  color: var(--white);
}

.side-bar .text ul li a::after {
  content: "";
  display: block;
  border-bottom: 2px solid var(--white);
  transform: scaleX(0);
  padding: 0.2rem 0;
  transition: 0.3s all linear;
}

.side-bar .text a:hover::after {
  transform: scaleX(1);
}

.side-bar .text.active {
  visibility: visible;
  pointer-events: auto;
  opacity: 1;
  left: 60px;
}

/* hero section */
.hero {
  height: 100vh;
}

.hero .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  gap: 14rem;
}

.hero .container .content {
  position: relative;
  padding: 14px;
}

.hero .container .content h1 span {
  display: block;
  font-size: 2rem;
  color: var(--dodger-blue);
}

.hero .container .content h2 {
  margin-top: 8px;
}

.hero .container .content h2 span {
  color: var(--gray);
}

.hero .container .content button {
  padding: 10px 18px;
  font-size: 16px;
  margin-top: 14px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  background-color: var(--dodger-blue);
  color: var(--white);
  transition: 0.3s all ease-in-out;
}

.hero .container .content button:hover {
  background-color: var(--midnight-blue);
}

.hero .container .content svg {
  position: absolute;
  width: 100%;
  height: 90%;
  left: 0%;
  bottom: 0%;
  z-index: -1;
}

/* about section */
.about {
  padding: 6rem 17%;
}

.about h2 {
  font-size: 1.5rem;
  color: var(--dodger-blue);
}

.about .row {
  display: flex;
  flex-direction: row;
}

.about .row .content h3 {
  font-size: 2rem;
  margin-bottom: 0.8rem;
}

.about .row .content p span {
  display: block;
}

.about .row .content .icon {
  padding: 2rem 0;
}

.about .row .content .icon a {
  text-decoration: none;
  color: var(--midnight-blue);
  margin: 0 0.3rem;
}

.about .row .content .icon a i {
  font-size: 1.8rem;
}

.about .row .content .icon a:hover {
  color: var(--dodger-blue);
}

/* project section */
.project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  background-color: #f0f8ff;
}

.project h2 {
  margin-top: 1rem;
  color: var(--dodger-blue);
}

.project h3 {
  font-size: 2.2rem;
  margin: 0.5rem 0;
}

.project p {
  text-align: center;
  margin-top: 0.5rem;
}

.project p span {
  display: block;
}

.project .container-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project .container-card .content-card {
  padding: 1.4rem;
  margin: 2rem;
}

.project .container-card .content-card h4 {
  margin-top: 0.8rem;
}

.project .container-card .content-card p {
  text-align: left;
  margin-top: 0.8rem;
}

/* clients section */
.clients {
  padding-bottom: 6rem;
}

.clients .container-clients {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--Raisin-black);
  padding: 2rem;
}

.clients .container-clients .title {
  text-align: center;
}

.clients .container-clients .title h4 {
  font-size: 1.5rem;
  margin: 0.5rem 0;
  color: var(--dodger-blue);
}

.clients .container-clients .title h2 {
  font-size: 2rem;
  margin: 0.5rem 0;
  color: var(--white);
}

.clients .container-clients .title p {
  color: var(--gray);
}

.clients .container-clients .container-logo {
  margin-top: 1rem;
}

.clients .container-clients .container-logo .logo-clients {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.clients .container-clients .container-logo .logo-clients a {
  color: var(--gray);
  opacity: 60%;
  margin: 0.5rem 1rem;
  transition: 0.3s all ease-in-out;
}

.clients .container-clients .container-logo .logo-clients a:hover {
  opacity: 100%;
}

.clients .container-clients .container-logo .logo-clients a img {
  width: 40px;
  height: 40px;
}

/* contact section */
.contact .container-contact {
  padding: 6rem;
}

.contact .container-contact .title-contact {
  text-align: center;
}

.contact .container-contact .title-contact h4 {
  font-size: 1.5rem;
  margin: 0.5rem 0;
  color: var(--dodger-blue);
}

.contact .container-contact .title-contact h2 {
  font-size: 2rem;
  margin: 0.5rem 0;
}

.contact .container-contact .title-contact p {
  color: var(--gray);
}

.contact form .container-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0.8rem 0;
}

.contact form .container-box .text-box {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0.3rem 0;
}

.contact form .container-box .text-box label {
  margin-bottom: 0.5rem;
  color: var(--dodger-blue);
}

.contact form .container-box .text-box input {
  padding: 0.8rem;
  border-radius: 6px;
  border: none;
  background-color: var(--gray-light);
}

.contact form .container-box .text-box textarea {
  height: 8rem;
  border-radius: 6px;
  border: none;
  background-color: var(--gray-light);
}

.contact form .container-box .text-box button {
  width: 8rem;
  padding: 0.6rem;
  margin-top: 1rem;
  border: none;
  border-radius: 6px;
  background-color: var(--dodger-blue);
  color: var(--white);
  cursor: pointer;
}

/* keyframes bar progress scroll */
@keyframes progress {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}

@media screen and (max-width: 1025px) {
  html {
    font-size: 90%;
  }

  /* hero section */
  .hero {
    height: 60vh;
  }

  .hero .container {
    min-height: 0;
    gap: 0;
  }

  /* about section */
  .about {
    padding: 7rem 7.5% 1rem;
  }

  .about .row {
    display: flex;
    flex-wrap: wrap;
  }

  /* contact section */
  .contact form .container-box .text-box,
  .contact form .container-box .text-box button {
    width: 100%;
  }
}

/* media screen responsive width 460px */
@media screen and (max-width: 460px) {
  html {
    font-size: 85%;
  }

  /* side bar */
  .side-bar {
    top: 100%;
    transform: translateY(-100%);
    width: 100%;
  }

  .side-bar .icons {
    display: flex;
    flex-direction: row;
    width: 100%;
    border-radius: 0;
  }

  .side-bar .icons a {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  .side-bar .text {
    border-radius: 0;
    background-color: var(--dodger-blue);
  }

  .side-bar .text.active {
    left: 0%;
    top: 0%;
    transform: translateY(-100%);
  }

  /* hero section */
  .hero {
    height: 80vh;
  }

  .hero .container {
    min-height: 50%;
    gap: 0;
  }

  .hero .container .content {
    margin-top: 1rem;
  }

  /* about section */
  .about {
    padding: 0 7%;
  }

  .about .row {
    display: flex;
    flex-wrap: wrap;
  }

  .about .row .content p {
    margin-bottom: 0.8rem;
  }

  .about .row .content .icon {
    padding: 0.4rem 0;
  }

  /* project section */
  .project .container-card .content-card {
    padding: 1.5rem;
    margin: 0;
  }

  .project .container-card .content-card img {
    width: 100%;
  }

  /* clients section */
  .clients {
    padding-bottom: 1rem;
  }
  /* contact section */
  .contact .container-contact {
    padding: 1rem 1rem 6rem;
  }

  .contact form .container-box .text-box,
  .contact form .container-box .text-box button {
    width: 100%;
  }
}

/* media screen responsive width 245px */
@media screen and (max-width: 245px) {
  html {
    font-size: 80%;
  }

  .side-bar {
    background-color: var(--dodger-blue);
  }

  .side-bar .icons {
    visibility: hidden;
  }

  .side-bar .icons #bars {
    visibility: visible;
  }
}
